@model OnlineStore.ViewModels.ProductSizes.SizeViewModel

@{
    ViewBag.Title = "Dodaj rozmiar";
}

<h2>Dodaj rozmiar dla kategorii: @ViewBag.CategoryName</h2>

@Html.HiddenFor(model => model.CategoryId)
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Rozmiar produktów</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.SizeName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SizeName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SizeName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Dodaj" class="btn btn-default custom-button" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Wróć do listy rozmiarów", "Index", new { categoryId = Model.CategoryId})
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
